{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "syntax-dynamic-import",
    "@babel/plugin-proposal-class-properties"
  ],
  "env": {
    "production": {
      "plugins": ["babel-plugin-transform-react-inline-elements"]
    },
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}
